:root {
  --background-color: #f1f1f1;
  --left-column-accent-color: #d3f6d1;
  --right-column-accent-color: #5c8d89;
  --left-column-color: #74b49b;
  --right-column-color: #d3f6d1;
  --dark-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*general*/

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  line-height: 1.5;

  color: var(--dark-color);

  background-color: var(--background-color);
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 1em;
  width: 80%;
  margin: auto;
}

.bold-text {
  font-weight: 700;
}

/*main-header*/

.main-header {
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em;
}

.main-nav {
  grid-column: 3;
}

.main-nav__item {
  display: inline;
}

.title,
.subtitle {
  text-align: center;
  color: var(--left-column-accent-color);
}

/*main-body*/

.main-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.left-column,
.main-header,
.main-footer {
  background-color: var(--left-column-color);
}

.left-column__article,
.right-column__article {
  margin: 0.5em;

  text-align: justify;
  text-indent: 1.5em;
}

.left-column__list {
  margin: 0 1em;

  text-align: left;

  list-style: circle;
}

.left-column__image {
  width: 250px;

  display: block;
  margin: auto;
  margin-top: 1em;

  border: 0.5em solid var(--left-column-accent-color);
  border-radius: 50%;
}

.right-column {
  background-color: var(--right-column-color);
}

.right-column__list {
  margin: 0 1em;

  list-style: none;
}

/*main-footer*/

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-footer__logo {
  width: 50px;
}

/*media queries*/

@media screen and (max-width: 767px) {
  .main-nav {
    grid-column: 1;
  }

  .main-nav__item {
    display: block;
  }

  .main-body {
    grid-template-columns: 1fr;
  }

  .main-footer,
  .main-header {
    grid-template-columns: 1fr;
  }

  .main-footer {
    justify-items: center;
  }
}
