:root {
  --background-color: #239d60;
  --left-column-accent-color: #a3de83;
  --left-column-color: #f7f39a;
  --right-column-color: #f1f1f1;
  --dark-color: #212125;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*general*/

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  line-height: 1.5;

  color: var(--dark-color);

  background-color: var(--background-color);
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 1em;
  width: 80%;
  margin: auto;
}

.bold-text {
  font-weight: 700;
}

.italic-text {
  font-style: italic;
}

/*main-header*/

.main-header {
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em;
}

.main-nav {
  grid-column: 3;
  margin: auto;
}

.main-nav__item {
  display: inline;
  margin-left: 1.4em;
}

.main-nav__link,
.main-footer__link {
  color: var(--dark-color);
}

.main-header,
.main-footer {
  background-color: var(--left-column-accent-color);
}

.title,
.subtitle {
  text-align: center;
  color: var(--background-color);
}

/*main-body*/

.main-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.left-column {
  background-color: var(--left-column-color);
}

.left-column__article,
.right-column__article {
  margin: 0.5em;

  text-align: justify;
  text-indent: 1.5em;
}

.left-column__title,
.right-column__title {
  background-color: var(--left-column-accent-color);
}

.left-column__list,
.right-column__list {
  margin: 0 1em;

  text-align: left;

  list-style: none;
}

.left-column__link,
.right-column__link {
  color: var(--background-color);
}

.left-column__image {
  width: 250px;

  display: block;
  margin: auto;
  margin-top: 1em;

  border: 0.5em solid var(--background-color);
  border-radius: 50%;
}

.left-column__item {
  margin-top: 0.5em;

  text-align: justify;
}

.right-column {
  background-color: var(--right-column-color);
}

.right-column__item {
  margin-top: 0.5em;
}

/*main-footer*/

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1em;
}

.main-footer__logo {
  width: 50px;
}

.main-footer__item {
  margin: auto;
  padding: 0.5em;
}

.main-footer__span {
  margin-left: 0.5em;
}

/*media queries*/

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
  }

  .main-body,
  .main-header {
    grid-template-columns: 1fr;
  }

  .main-nav__item {
    margin-right: 1em;
  }
}
